<br>
<a href="https://sites.google.com/view/yulinzhang/">Personal Website</a>
<a href="https://github.com/yulinzhang0822">Github</a>
<a href="https://www.linkedin.com/in/yulinzhang0822/">LinkedIn</a>
<footer>
  <p id="copyright">© 2020 Leonard Zhang.</p>
</footer>
</body>

</html>
